* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0%;
  font-size: 10px;
  background-image: linear-gradient(black, grey, silver);
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2rem;
  color: white;
}

header {
  position: static;
  top: 0%;
  width: 100%;
  height: 100%;
}

.main {
  margin-top: 5.6rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-link {
  margin: 1.8rem;
}
.nav-link a {
  text-decoration: none;
  font-size: 1.8rem;
  color: darkgray;
}

@media screen and (max-width: 570px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .image-flex-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
/* About-Me */
.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}

.about-me-flex-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}

.name {
  margin: 2rem;
  font-size: 3rem;
  color: grey;
  font-style: arial;
  padding: 5px;
  text-align: center;
}

.statement-header {
  text-align: center;
  font-style: arial;
  color: grey;
  text-align: center;
  text-decoration: underline;
  margin-top: -2px;
  font-size: 2rem;
  font-family: Arial;
}

.statement-info-1 {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  font-size: 2rem;
  color: whitesmoke;
  letter-spacing: 2px;
  text-indent: 45px;
  line-height: 30px;
  margin: 2rem;
}

.skills {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  color: grey;
  font-size: 2rem;
  font-family: Arial;
  text-decoration: underline;
}
.skill-set {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  list-style-type: none;
  font-size: 2rem;
  letter-spacing: 3px;
  line-height: 60px;
  padding-right: 1.8%;
  color: whitesmoke;
}
/* Project Cards */
.projects-header {
  text-align: center;
  font-style: arial;
  font-size: 3rem;
  padding: 5px;
  color: rgb(0, 0, 0);
  text-indent: 45px;
  line-height: 30px;
  margin: 4rem;
  text-decoration: underline;
}
.marketing-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-style: arial;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 2rem;
}
.image-flex-1-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
  width: 100%;
}
.marketing-task-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: whitesmoke;
  letter-spacing: 2px;
  text-indent: 45px;
  line-height: 30px;
  margin: 2rem;
  font-size: 1rem;
}
.first-project-card {
  border: 2rem;
  border-style: solid;
  border-color: black;
}

.second-card-container {
  display: flex;
  flex-direction: row;
  align-items: right;
  flex-wrap: wrap;
  border: 12rem;
  border-style: solid;
  border-color: black;
}
.image-flex-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.info-flex-2 {
  text-align: left;
  font-size: 2rem;
  color: whitesmoke;
  letter-spacing: 1px;
  text-indent: -3px;
  line-height: 30px;
  margin: 1rem;
}

.header-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-style: arial;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  letter-spacing: 2px;
  margin: 2px;
  word-spacing: 1px;
  line-height: 18px;
}

.third-card-container {
  display: flex;
  flex-direction: row;
  align-items: left;
}
