html {
  font-size: 10px;
}

body {
  margin: 0%;
  font-size: 10px;
  background-color: black;
}

.header {
  position: static;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-link {
  margin: 1.8rem;
}
.nav-link a {
  text-decoration: none;
  font-size: 1.8rem;
  color: darkgray;
}

@media screen and (max-width: 570px) {
  .flex-container {
    flex-direction: column;
    align-content: center;
  }
}
